vmconf:
  machine_name: 'Vagrant Magento 2'
  network_ip: '192.168.200.50'
  host_name: 'zepgram'
  memory: '4096'
  cpus: '2'
  nfs: 'true'
  mount: 'root'
  provision: 'all'
credentials:
  git_host: 'github.com'
  git_repository: 'ssh://git@github.com:project-name.git'
  composer_username: 'magentoUsernameKey'
  composer_password: 'magentoPasswordKey'
  name: 'Benjamin Calef'
  email: 'contact@ivc-digital.com'
magento:
  url: 'dev.magento.com'
  source: 'composer'
  edition: 'community'
  version: '2.2.5'
  sample: 'true'
  mode: 'developer'
  currency: 'USD'
  language: 'en_US'
  time_zone: 'Europe/London'
